# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
# static/
staticfiles/

# Virtual Environment
.env
venv/
env/
.venv/

# IDE-specific files (e.g., PyCharm)
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Test coverage files
.coverage
.tox/
.eggs/