SECRET_KEY='django-insecure-6j-ot*0c6_4^0^jm56q&&i^^6ti9^fm5x%$+p_7baa7qr#a7!j'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,local.evorix.io

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin

DATABASE_NAME=django_db
DATABASE_USER=postgres
DATABASE_PASSWORD='P@$$w0rd'
DATABASE_HOST=db
DATABASE_PORT=5432

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=UTC

CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler
